<div class="cart-container">

    <div class="cart-container-box">
        <div class="left-container-box" style="width: 80%;">
            <div class="child-box">
                <div>
                    <h2>Thank You</h2>
                    <span>For Choosing Us</span>
                </div>
                <div class="button-container">
                    <div class="button-box">
                        <button mat-raised-button class="default-button success-background" style="width: 150px;"
                            [routerLink]="['/']">
                            HOME
                        </button>
                    </div>

                </div>
            </div>
            
        </div>
        <div class="right-container-box">
            <div class="main-box cart-card" style="padding: 0;">
                <div class="cart-card-header flex-with-space-between padding-horizontaly">
                    <div class="flex-item-center">
                        <mat-icon fontSet="material-icons-outlined">work_outline</mat-icon>
                        <div class="very-small-gap"></div>
                        <h2>Your Order ({{item.title}})</h2>
                    </div>
                    <mat-icon fontSet="material-icons-outlined">close</mat-icon>
                </div>
                <div class="img-box">
                    <img [src]="item.url" width="100%" height="240px" data-selected="true" data-label-id="0">
                </div>
                <div class="cart-card-body" style="max-height: 280px !important;">
                    <ul>
                        <li class="flex-with-space-between padding">
                            <div class="flex-item-center">

                                <div class="small-gap"></div>
                                <div class="flex-column">
                                    <span> {{item.description}} </span>
                                </div>
                            </div>
                            <span> {{item.price}}</span>
                        </li>
                    </ul>
                </div>
                <div class="cart-card-footer padding">
                    <button mat-raised-button class="full-width full-height success-background" (click)="order()">
                        ORDER
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>