<div class="header-container">
    <div class="contain flex-with-space-between white-background">
        <div class="left-container flex-item-center flex1 full-height">
            <a class="logo"  style="text-decoration: none;" routerLink="/">
                <h1><span style="font-size: 38px;">Bean</span><span style="color: black;font-size: 38px;">Foods</span></h1>
            </a>
            <div class="large-gap"></div>


            <div class="small-gap"></div>
           
        </div>
        <div class="reverse-flex flex1 full-height">
           
            <div class="very-small-gap"></div>
            <a mat-button  [routerLink]="['/login']" routerLinkActive="active">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">person</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Login</span>
                </div>
            </a>
            <button mat-button class="hide-mobile-view">
                <div class="header-menu-box">
                    <mat-icon fontSet="material-icons-outlined" class="icon">search</mat-icon>
                    <div class="very-small-gap"></div>
                    <span class="header-menu-text">Search</span>
                </div>
            </button>
            
        </div>
    </div>
</div>

