<div class="footer">
    <div class="container">
        <div class="first">
            <h1><span style="font-size: 38px;color: rgb(62, 153, 32);">Bean</span><span style="color: #fff;font-size: 38px;">Foods</span></h1>
            <p>
                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list" style="line-height: 2.5;">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                203 Fake St. Mountain View, San Francisco, California, USA</p>
            <p>+2 392 3929 210</p>
            <p>info@yourdomain.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2021 All rights reserved </p>
    </div>
</div>