<div class="add-item-model-container" style="padding: 10px;">
    <div class="model-header">
    </div>
    <div class="model-body">
      <div class="instruction">
        <h1 style="padding: 0px 20px;text-align: center;">Added To Cart</h1>
      </div>
    </div>
    <div class="model-footer" style="display: flex;justify-content: space-between;">
      <button mat-raised-button class="full-height success-background" style="width: 45%;padding: 5px;" (click)="dismiss()">
        Continue Shopping 
      </button>
      <button mat-raised-button class="full-height success-background" style="width: 45%;padding: 5px;" (click)="goToCheck()">
        Go To Checkout
      </button>
    </div>
  </div>